.topbar {
	background-color: #000;
}

.container {
	padding: 36px;
}

.new-edition-form {
	width: 80%;
	margin: auto;
}

.number-selector {
	width: 127px;
	height: 36px;
	margin-left: 32px;
}

.section-number {
	width: 100%;
	display: flex;
	align-items: center;
}